@import "common.css";
/* HOME SECTION */

.home {
  height: 100vh;
  width: 100%;
}

.home img {
  height: 100vh;
  width: 100%;
}

.home h1 {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-40%, -45%);
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
}

/* SCREEN SECTION */

.screen {
  height: 100%;
  background-color: #DCDEE0;
  position: relative;
  z-index: 1;
}

.screen > h1 {
  padding: 50px 30px;
  margin: 0 0 10px 50px;
  font-size: 2.5rem;
}


.screen-itens {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-bottom: 50px;
}

.screen-itens img {
  width: 10vw;
  margin-left: 3vw;
  position: absolute;
  top: 10%;
  transform: translateY(-10%);
}

.screen-itens > a {
  margin-top: 1vh;
  display: inline-block;
  font-size: 1.5rem;
  width: 40vw;
  position: absolute;
  top: 7%;
  left: 20%;
  transform: translate(-7%, -20%);
  color: #000000;
  font-weight: bold;
}

.screen-itens > a:hover {
  color: #777575;
}

.screen-itens > p {
  margin-top: 4vh;
  margin-left: 3.3vw;
  display: inline-block;
  font-size: 1rem;
  width: 40vw;
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-15%, -20%);
}

.screen-itens > .itens-button {
  margin-top: 1vh;
  top: 25%;
  left: 30%;
  transform: translate(-25%, -30%);
}

.screen-itens:last-child {
  margin-top: -30vh;
}

.row-reverse { 
  display: flex; 
  flex-direction: row-reverse; 
  margin-top: -30vh;
}

.row-reverse img {
  margin-right: 2vw;
}

.row-reverse > a {
  margin-top: 1vh;
  margin-left: 28.5vw;
  font-weight: bold;
}

.row-reverse > p {
  margin-top: 4vh;
  margin-left: 32vw;
}

/* CAROUSEL SECTION */

.carousel-section {
  margin-top: -8vh;
  height: 100%;
  background-color: #F3F1F1;
}

.carousel-section > h1 {
  padding: 50px 30px;
  margin: 0 0 0px 50px;
  font-size: 2.5rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25%;
  margin-top: -25%;
}

.carousel-control-next {
  margin-right: 22%;
  text-decoration: none;
}

.carousel-control-prev {
  margin-left: 22%;
  text-decoration: none;
}


/* MEMBERS SECTION */

.members {
  height: 100vh;
  background-color: #DCDEE0;
}


.members > h1 {
  padding: 50px 30px;
  margin: 0 0 10px 50px;
  font-size: 2.5rem;
}

.team-pics {
  display: inline-flex;
} 

